<app-nav></app-nav>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container text-center">
        <h1>프로젝트 상세</h1>
</div>

<div class="container text-center">
    <form class="form-horizontal">
      <div class="form-group text-center">
        <img src="https://s3.ap-northeast-2.amazonaws.com/art-view/photo.jpg" text-align="center" style="width:50%" alt="Image">
      </div>
      <div class="form-group text-center">
        <label class="col-sm-4 control-label">프로젝트명: </label>
        <div class="col-sm-4 text-center">
          <input type="text" [value]="project.title" class="form-control"/>
        </div>
        </div>
        <div class="form-group text-center">
          <label  class="col-sm-4 control-label">프로젝트 설명: </label>
          <div class="col-sm-4 text-center">
            <input type="text" [value]="project.content" class="form-control"/>
          </div>
        </div>
        <div class="form-group text-center">
            <label class="col-sm-4 control-label">마감 기한: </label>
            <div class="col-sm-4 text-center">
              <input class="form-control"  type="date" [value]="project.dead_line" name="dead_line">
            </div>
        </div>
        <div class="form-group text-center">
            <label class="col-sm-4 control-label">선호 전시시작일: </label>
            <div class="col-sm-4 text-center">
              <input class="form-control"  type="date" [value]="project.fav_start_date" name="fav_start_date">
            </div>
        </div>
        <div class="form-group text-center">
            <label class="col-sm-4 control-label">선호 전시종료일: </label>
            <div class="col-sm-4 text-center">
              <input class="form-control"  type="date" [value]="project.fav_end_date" name="fav_end_date">
            </div>
        </div>
</form>
<input type="button" onclick="alert('신청되었습니다')" class="btn btn-primary" value="참가신청">
</div>
<app-footer></app-footer>