<app-nav></app-nav>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<p>
  question 상세페이지 user_id, title, content, date, type, file_id, hits
</p>
<div *ngIf="question">
  <h1>{{question.title}}</h1>
  <div class="form-group">
    <label>user_id</label>
    <input type="text" [(ngModel)]="question.user_id" class="form-control" /> </div>
  <div class="form-group">
    <label>title</label>
    <input type="text" [(ngModel)]="question.title" class="form-control" /> </div>
  <div class="form-group">
    <label>content</label>
    <input type="text" [(ngModel)]="question.content" class="form-control" /> </div>
  <div class="form-group">
    <label>file_id</label>
    <input type="text" [(ngModel)]="question.file_id" class="form-control" /> </div>
  <div class="form-group">
    <label>hits</label>
    <input type="text" [(ngModel)]="question.hits" class="form-control" /> </div>



  <div>
      <a class="btn btn-primary" (click)="save()">저장</a>
    <a class="btn btn-default" href="/spaceList">목록으로</a>
  </div>
</div>

<app-footer></app-footer>