<app-nav></app-nav>
<div class="container">    
    <div class="row">
      <div class="col-sm-3" >
        <div class="panel panel-primary">
          <div class="panel-heading">프로젝트명{{pro.title}}</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">{{pro.d_day}} {{pro.author_id}}</div>
        </div>
      </div>
    </div>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">&raquo;</a>
    </div>
</div>
<app-footer></app-footer>