<app-nav></app-nav>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <h1>커뮤니티</h1>
    <div class="pull-right mb5">
    <a routerLink="/create-project" class="btn btn-info">
      <span class="glyphicon glyphicon-user"></span> 프로젝트 등록</a>
    </div>
</div>
<div class="container text-center"> 
    <div class="topnav">
      </div>
        <div class="search-container">
            <div class="col-sm-2" id="#select">
                <select class="form-control">
                    <option selected="selected">키워드검색</option>
                    <option></option>
                </select>
              </div>
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
   
      
    <div class="row">
      <div class="col-sm-3" *ngFor="let p of projects">
        <div class="panel panel-primary">
          <div class="panel-heading">{{ p.title }}</div>
          <div class="panel-body"><img src="https://s3.ap-northeast-2.amazonaws.com/art-view/photo.jpg" class="img-responsive" style="width:100%" alt="Image" (click)="projectDetail(p)"></div>
        </div>
      </div>
    </div>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">&raquo;</a>
    </div>
</div>
<app-footer></app-footer>