<app-nav></app-nav>
<router-outlet></router-outlet>
<app-user></app-user>
    <div class="form-group">
        <label class="col-sm-2 control-label">관심 예술분야: </label>
        <div class="col-sm-3">
            <!--<div *ngFor="let a of artfield"><div *ngIf="0<i<=5"><span> <input type="checkbox" ng-checked="isChecked" (ngModel)="artfield.id"/>{{a.type}}</span></div>
            <div *ngFor="let a of artfield"><div *ngIf="5<i<=10"><span> <input type="checkbox" ng-checked="isChecked" (ngModel)="artfield.id"/>{{a.type}}</span></div>
            <div *ngFor="let a of artfield"><div *ngIf="10<i<=15"><span> <input type="checkbox" ng-checked="isChecked" (ngModel)="artfield.id"/>{{a.type}}</span></div>-->
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 공연</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 공예</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 디자인</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 문예</span></div>
        </div> 
        <div class="col-sm-3">
          <div><span> <input type="checkbox" ng-checked="isChecked"/> 미술</span></div>
          <div><span> <input type="checkbox" ng-checked="isChecked"/> 사진</span></div>
          <div><span> <input type="checkbox" ng-checked="isChecked"/> 애니메이션</span></div>
          <div><span> <input type="checkbox" ng-checked="isChecked"/> 영화</span></div>
          <div><span> <input type="checkbox" ng-checked="isChecked"/> 예술가</span></div>
        </div>
        <div class="col-sm-3">
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 음악</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 작품</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 장르</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 창작물</span></div>
            <div><span> <input type="checkbox" ng-checked="isChecked"/> 평론가</span></div>
        </div>

        <a class="btn btn-primary" (click)="create()">저장</a>
    </div>
<app-footer></app-footer>


