
<body>
<div class="container">
  <h1>학생목록</h1>
  <div class="pull-right mb5">
  <a href="create.do" class="btn btn-info">
    <span class="glyphicon glyphicon-user"></span> 학생등록</a>
  </div>    
  <table class="table table-bordered mt5">
    <thead>
      <tr>
        <th>id</th>
        <th>학번</th>
        <th>이름</th>
        <th>학과</th>
        <th>학년</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of museums">
        <tr data-url="edit.do?id=${ m.id }">
          <td>{{ m.title }}</td>
          <td>{{ m.link }}</td>
          <td>{{ m.image }}</td>
          <td>{{ m.price }}</td>
          <td>{{ m.year }}</td>
        </tr>
    </tbody>
  </table>
</div>
</body>


