    <div class="container text-center"><img src="/assets/images/step2.png" width="800px" height="200px"></div>
    <div class="container text-center">
            <form class="form-horizontal">
              <div class="form-group text-center">
                <label class="col-sm-4 control-label">아이디: </label>
                <div class="col-sm-4 text-center">
                  <input class="form-control" (ngModel)="normal.login_id" name="login_id" type="text" placeholder="아이디를 입력하세요." required>
                </div>
                </div>
                <div class="form-group text-center">
                  <label  class="col-sm-4 control-label">패스워드: </label>
                  <div class="col-sm-4 text-center">
                    <input class="form-control "  (ngModel)="normal.pwd" name="pwd" type="password" placeholder="비밀번호를 입력하세요." required>
                  </div>
                </div>
                <div class="form-group text-center">
                    <label class="col-sm-4 control-label">이름: </label>
                    <div class="col-sm-4 text-center">
                      <input class="form-control"  type="text" (ngModel)="normal.name" name="name" required>
                    </div>
                </div>
                <div class="form-group text-center">
                  <label class="col-sm-4 control-label">핸드폰 번호: </label>
                  <div class="col-sm-4 text-center">
                    <span>
                    <input class="form-control col-sm-4" type="text" (ngModel)="normal.phone" name="phone" required>
                    </span>
                  </div>  
              </div>

              <div class="form-group">
                <label for="focuedSelect" class="col-sm-4 control-label">연령대: </label>
                <div class="col-sm-4">
                  <select id="focuedSelect" class="form-control" (ngModel)="ages.id">
                      <option selected="selected">해당 연령층 선택</option>
                    <option *ngFor="let a of ages" [ngValue]="a.id" required>{{a.value}}</option>
                  </select>
                </div>
              </div>

      </form>
    </div>
              <!--
              <div class="form-group">
                <label for="disabledInput" class="col-sm-2 control-label">Disabled</label>
                <div class="col-sm-10">
                  <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
                </div>
              </div>
              <fieldset disabled>
                <div class="form-group">
                  <label for="disabledTextInput" class="col-sm-2 control-label">Disabled input and select list (Fieldset disabled)</label>
                  <div class="col-sm-10">
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                  </div>
                </div>
                <div class="form-group">
                  <label for="disabledSelect" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <select id="disabledSelect" class="form-control">
                      <option>Disabled select</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <div class="form-group has-success has-feedback">
                <label class="col-sm-2 control-label" for="inputSuccess">Input with success and glyphicon</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSuccess">
                  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-warning has-feedback">
                <label class"col-sm-2 control-label" for="inputWarning">Input with warning and glyphicon
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputWarning">
                  <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group has-error has-feedback">
                <label class="col-sm-2 control-label" for="inputError">Input with error and glyphicon</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputError">
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
              </div>-->