    /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    background-image: url('/assets/images/modern.jpg');
    background-size: 100%;
    height: 500px;
    width: 80%;
    margin: 0 auto;
  }