<app-nav></app-nav>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1>naver-space {{s.title}}</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>title</th>
      <th>link</th>
      <th>category</th>
      <th>description</th>
      <th>address</th>
      <th>roadAddress</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of spaces">
      <td>{{ s.title }}</td>
      <td>{{ s.link }}</td>
      <td>{{ s.category }}</td>
      <td>{{ s.description }}</td>
      <td>{{ s.address }}</td>
      <td>{{ s.roadAddress }}</td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>