<app-nav></app-nav>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <h1>프로젝트 등록</h1>
</div>
<br>
<br>

<div class="col-md-12">
  <div class="form-group">
    <label>프로젝트명</label>
    <input type="text" class="form-control" />
  </div>
</div>
<div class="col-md-12" style="margin-top: 20px;">
  <div class="form-group">
    <label>프로젝트 내용</label>
    <input type="text" class="form-control" />
  </div>
</div>
<div class="col-md-12" style="margin-top: 20px;">
  <div class="form-group">
    <label>마감 기한</label>
    <input type="text" class="form-control" />
  </div>
</div>
<div class="col-md-6" style="margin-top: 20px;">
  <div class="form-group">
    <label>선호 전시 시작일</label>
    <input type="text" class="form-control" />
  </div>
</div>
<div class="col-md-6" style="margin-top: 20px;">
  <div class="form-group">
    <label>선호 전시 종료일</label>
    <input type="text" class="form-control" />
  </div>
</div>
<div class="col-md-6" style="margin-top: 20px;">
  <div class="form-group">
    <label>예술 분야</label>
    <input type="text" class="form-control" />
  </div>
</div>
<div class="col-md-6" style="margin-top: 20px;">
  <div class="form-group">
    <label>지역</label>
    <input type="text" class="form-control" />
  </div>
</div>

<div style="margin-left: 15px; margin-top: 20px;">
    <button type="button" class="btn btn-default" (click)="projectSubmitTest()">등록</button>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
<app-footer></app-footer>