<app-nav></app-nav>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1>질문 목록1</h1>
<a class="btn btn-primary pull-right" (click)="gotoQuestion()">질문등록</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>user_id</th>
      <th>title</th>
      <th>content</th>
      <th>date</th>
      <th>type</th>
      <th>hits</th>
      <th>file_id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let q of questions" (click)="selectQuestion(q)">
      <td>{{ q.id }}</td>
      <td>{{ q.user_id }}</td>
      <td>{{ q.title }}</td>
      <td>{{ q.content }}</td>
      <td>{{ q.date }}</td>
      <td>{{ q.type }}</td>
      <td>{{ q.hits }}</td>
      <td>{{ q.file_id }}</td>

    </tr>
  </tbody>
</table>
<hr />
<div *ngIf="selectedQuestion">
  <div class="form-group">
    <label>id</label>
    <input type="text" value="{{ selectedQuestion.id }}" class="form-control" disabled /> </div>
  <div class="form-group">
    <label>user_id</label>
    <input type="text" [(ngModel)]="selectedQuestion.user_id" class="form-control" /> </div>
  <div class="form-group">
    <label>title</label>
    <input type="text" [(ngModel)]="selectedQuestion.title" class="form-control" /> </div>
  <div class="form-group">
    <label>content</label>
    <input type="text" [(ngModel)]="selectedQuestion.content" class="form-control" /> </div>
    <div class="form-group">
      <label>hits</label>
      <input type="text" [(ngModel)]="selectedQuestion.hits" class="form-control" /> </div>
  
      <a class="btn btn-primary" (click)="save()">수정</a>
    <hr>

    <div >
      <table border="2">
     <tbody border="1">
      <tr>answer</tr>
        <div style = "width:400px; height:200px;border:1px; bordercolor:pink;background-color:#fafad2" *ngFor="let q of answers">
          <hr />
          <tr>
          <td style = "width:20px; border:2px"> 답변 번호{{ q.id }}</td>
          <td>질문 번호</td>
          <td style = "width:20px">{{ q.question_id }}</td>
          <td>답변 날짜</td>
          <td >{{ q.date }}</td>
          </tr>
          <tr style ="width:300px">
          <td >제목</td>
          <td> {{ q.title }}</td>
          </tr>
          <tr></tr>
          <tr>
          <td style = "width:20px; height:60px">답변 내용</td>
          <td >{{ q.content }}</td>
        </tr>
        <tr>
          <td>파일번호</td>
          <td>{{ q.file_id }}</td>
        </tr>
        </div>
      </tbody>
    </table>
      </div>

    </div>
    
<app-footer></app-footer>