<app-nav></app-nav>
<router-outlet></router-outlet>
<div class="container text-center">
<form class="form-horizontal">
    <div class="form-group">
        <label for="focuedSelect" class="col-sm-4 control-label">대관 선호지역</label>
        <div class="col-sm-2">
        <select class="form-control" [(ngModel)]="artist.fav_city_id" name="fav_city_id" >
            <option selected>지역(도) 선택</option>
            <option *ngFor="let c of cities" [ngValue]="c.id" required>{{c.name}}</option>
        </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="artist.fav_district_id" name="fav_district_id" >
                <option selected>지역(구) 선택</option>
                <option *ngFor="let d of districts" [ngValue]="d.id" required>{{d.name}}</option>
            </select>
        </div>
    </div>     
    <br>
    <div class="form-group text-center">
        <label class="col-sm-2 control-label">전공분야: </label>
        <br>
        <br>
            <div *ngFor="let a of majors" [(ngModel)]="artist.major" name="major">
                    <div class="col-sm-4">
                        <div><span> <input type="checkbox" ng-checked="isChecked" />{{a.type}}</span></div>
                    </div>
            </div>
    </div>
    <a class="btn btn-primary" (click)="create()">저장</a>
</form>
</div>
<app-footer></app-footer>
