nav a {
    margin-bottom: 0;
    border-radius: 0;
    color: white;

  }

#active {
  color: rgb(148, 34, 34);
}
  
#nav1 {
  background: linear-gradient(to bottom right, rgb(247, 179, 162) , rgb(180, 69, 69));
  border-color: hsl(0, 84%, 44%);
  margin-bottom: 0%;
}

nav {
  background: transparent;
}