<h1>space-list1 초밥</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>city_id</th>
      <th>provider_id</th>
      <th>cost</th>
      <th>unavailabe</th>
      <th>equipment</th>
      <th>address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of spaces">
      <td>{{ s.id }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.city_id }}</td>
      <td>{{ s.provider_id }}</td>
      <td>{{ s.cost }}</td>
      <td>{{ s.unavailable }}</td>
      <td>{{ s.equipment }}</td>
      <td>{{ s.address}}</td>
    </tr>
  </tbody>
</table>