<app-nav></app-nav>
<body class="text-center">
<div class="container text-center"><img src="/assets/images/step1.png" width="800px" height="200px"></div>
<div class="col-sm-2" style="margin-left:23%">
    <a routerLink="/artist"><img src="/assets/images/artist.png" width="200px" height="200px"></a>
</div>
<div class="col-sm-2">
        <a routerLink="/provider"><img src="/assets/images/provider.png" width="200px" height="200px"></a>
</div>
<div class="col-sm-2">
        <a routerLink="/normal"><img src="/assets/images/normal.png" width="200px" height="200px"></a>
</div>
<div class="col-sm-4" id="char">
    <img src="/assets/images/char2.png" width="150px" height="250px">
</div>
</body>
<app-footer></app-footer>